
<!doctype html>                                                                                                                                                                                                     
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="referrer" content="origin-when-cross-origin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.red.min.css">
  <title>ATProto User Intents Demo</title>
</head>
<body>
<header>
  <hgroup>
    <h1>ATProto User Intents Demo</h1>
  </hgroup>
  <nav>
    <ul>
    {{ if . }}
      <li><a href="/intents">Configure Intents</a>
      <li><a href="/oauth/logout">Logout</a>
    {{ else }}
      <li><a href="/oauth/login">Login</a>
    {{ end }}
      <li><a href="https://tangled.org/bnewbold.net/user-intents">Code</a>
    </ul>
  </nav>
    {{ if . }}
    <p>Hello <span style="font-family: monospace; font-weight: bold;">{{ .DID }}</span></p>
    {{ end }}
</header>
<main>
  <section class="content">
    {{ template "content" . }}
  </section>
</main>
</body>
</html>
